html
 head
  title= title
  link(href='css/server.css', rel='stylesheet')
 body
if user
  h2 Hello 
   span=  user
  a(href='/logout') Logout
  include todoTable

  include todoForm
else
  p NOT logged IN
  p
   a(href='/register') Register
  p
   a(href='/login') Login
  img.logo(src='img/logo.png', alt='Hack Hands logo')

  include livereload



