doctype html
html
 head
  title= title
  link(href='css/server.css', rel='stylesheet')
 body
  .container
   form.form-signin(action='/login', method='post')
    h2.form-signin-heading.text-center Open, says me
    div
     label.sr-only(for='username') Username
     input#username.form-control(type='text', name='username', placeholder='Username', required='', autofocus='')
    div
     label.sr-only(for='password') Password
     input#password.form-control(type='password', name='password', placeholder='Password')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
  .row
   .center-block.text-center
    p
     a(href='/oauth/facebook') Login with Facebook
    p
     a(href='/oauth/twitter') Login with Twitter
  include livereload
