doctype html
html
 head
  title
  link(href='css/server.css', rel='stylesheet')
 body
  .container
   form.form-signin(action='/register', method='post')
    h2.form-signin-heading.text-center Register
    label.sr-only(for='username') Username
    input#username.form-control(type='text', name='username', placeholder='Username', required='', autofocus='')
    label.sr-only(for='name') Name
    input#name.form-control(type='text', name='name', placeholder='Name', required='', autofocus='')
    label.sr-only(for='email') E-mail
    input#email.form-control(type='email', name='email', placeholder='E-mail', required='')
    label.sr-only(for='password') Password
    input#password.form-control(type='password', name='password', placeholder='Password', required='')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Register
   .row
    .center-block.text-center
     a(href='/oauth/facebook') Login with Facebook
     a(href='/oauth/twitter') Login with Twitter
  include livereload
