.container
	table
		tr
			th TASK
			th CATEGORY
			th ID
		each item in todoList
			tr
				td=item.task
				td=item.category
				td
					form(action='/todo/delete/' + item.id, method='post')
						button(type="submit") DELETE