.container
  form.form-signin(action='/todo', method='post')
    b ADD NEW TASK
    .form-row
      label.sr-only(for='task') TASK
      input#task.form-control(type='text', name='task', placeholder='task', required='', autofocus='')
    .form-row
      label.sr-only(for='category') CATEGORY
      input#category.form-control(type='text', name='category', placeholder='category', autofocus='')
    .form-row
      label.sr-only(for='parent') PARENT
      input#parent.form-control(type='parent', name='parent', placeholder='parent')
    .form-row
      label.sr-only(for='notes') NOTES
      input#notes.form-control(type='notes', name='notes', placeholder='notes')
    button(type='submit') SUBMIT