body {
	background-color: grey;
	color: black;
}

.container {
	padding: 5px;
}

.container-border {
	.container;
	border: 1px solid green;
}

.form-row {
	padding: 2px;
}

.logo {
	width: 50px;
}

form {
	margin: 0;
	input {
		display: block;
	}
}

table {
	width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}