body {
	background-color: black;
	color: white;
	font-size: 18px;
	padding: 15px;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.nav .listItem {
	display: inline-block;
}



